body {
  font-family: "Courier New", Courier, monospace;
  margin: 20px;
  margin: 30px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: purple;
  text-align: center;
}

/* <p> es un elemento de bloque, mientras que <img> es un elemento de línea: si anidamos una imagen dentro de un párrafo, la img aparecerá renderizada siguiendo la propia línea del texto */
.image-nested {
  width: 100px;
  height: auto;
}

/* esta imagen aparecerá renderizada en su propia línea, ya que no está anidada, sino que se encuentra entre dos párrafos cuyo display por defecto es block */
.image-2 {
  width: 200px;
  height: auto;
}
