
/************** GENERAL styles ***************/

body {
  font-family: 'Rubik', sans-serif; /* 400 y 500 weight cargados en link */
  font-size: 1rem; /* 24px */
}


/************** ADALABERS section styles ***************/


.adalabers {
  text-align: center;
}

.adalabers-title {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.88;

}
.adalabers-card {
  font-family: 'Open Sans';
  font-size: 1rem; /* 16px */
  background-color: lightgoldenrodyellow;

}

.adalabers-card-image {
  height: 180px; /* relative unit better? */
  width: auto;
  border: solid 5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.adalabers-card-name {
  line-height: 2.25;

}

.adalabers-card-text {
  line-height: 1.5;

}

.adalabers-card-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100vw; /* me da error con width: 100% y no sé por qué :( */
  background-color: lightsalmon;
}

.adalabers-card-item {

}

.adalabers-card-link {
  color: black;
  text-decoration: none;
}