body {
  font-family: "Courier New", Courier, monospace;
  margin: 30px;
  line-height: 1.5;
}

h1 {
  text-align: center;
}

mark {
  color: blue;
  background-color: pink;
  padding: 8px;
  font-weight: bold;
}

/* modifying the default inline display of the mark tag so that we can give it a height property */
.highlighted {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
