//colors
$color-bg:  rgb(243, 243, 243);
$color-bg-secondary: rgb(198, 235, 198);

$color-heart: rgb(207, 92, 92);

$color-font-main: rgb(53, 53, 53);
$color-font-secondary: rgb(34, 34, 34);
$color-font-text: rgb(124, 124, 124)

