.App {
  background-color: rgb(243, 243, 243);
  min-height: 100vh;
  padding: 30px;
}

.App-header {
  height: 150px;
  font-size: 1.5rem;
}

.App-title {
  color: rgb(34, 34, 34);
  text-align: center;
}

/* List styles */

.list-title{
  color: rgb(34, 34, 34);
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.list-item {
  margin-bottom: 30px;
}

/* CARD */

.card {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(198, 235, 198);
  padding: 20px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

/* CARD: header */

.card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.card-image {
  width: 110px;
  height: auto;
  border-radius: 50%;
  margin-right: 30px;
}

.card-name {
  font-size: 1.5rem;
  color: rgb(53, 53, 53);
}

.card-date {
  color: rgb(53, 53, 53);

}

/* CARD: body */

.card-body {
  margin: 30px 0;
}

.card-text {
  margin: 20px 0;
  color: rgb(53, 53, 53);
}

/* CARD: footer */

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer-text{
  color: rgb(124, 124, 124);
}

.card-likes {
  display: flex;
  align-items: center;
}

.card-number {
  font-size: 1.3rem;
  margin-right: 12px;
}

.card-icon {
  color: rgb(207, 92, 92);
  font-size: 2rem;
}
